.n-img-container {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.n-tag {
  color: #fff;
  text-decoration: none;
}

.n-tag a {
  color: #000;
  font-size: 1.2em;
  display: block;
}

.display-comment {
  background-color: lightgray;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #0c5460;
}

